html {
    height: 100%;
}
body {
    display:flex;
    align-items:center;
    min-height: 100%;
    font-family: monospace;
    font-size: 1em;
}
div {
    display : block;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    white-space: pre;
    font-size: 9px;
}
.bottomright {
    position: absolute;
    bottom: 2px;
    right: 16px;
    white-space: pre;
    font-size: 9px;
}
.bottomleft {
    position: absolute;
    bottom: 2px;
    left: 16px;
}
.transparent_square{
	width: 100%;
	height: auto;
}

.central_text{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    position: absolute;
}

.player_container{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20%;
	transform: translate(-50%, -50%);
}

.player{
	width: 100%;
	height: auto;
	position: relative;
	left: 175%;
}

.player_container.player0{
	transform: translate(-50%, -50%);
}
.player_container.player1{
	transform: translate(-50%, -50%) rotate(45deg);
}
.player_container.player2{
	transform: translate(-50%, -50%) rotate(90deg);
}
.player_container.player3{
	transform: translate(-50%, -50%) rotate(135deg);
}
.player_container.player4{
	transform: translate(-50%, -50%) rotate(180deg);
}
.player_container.player5{
	transform: translate(-50%, -50%) rotate(225deg);
}
.player_container.player6{
	transform: translate(-50%, -50%) rotate(270deg);
}
.player_container.player7{
	transform: translate(-50%, -50%) rotate(315deg);
}


.player.player0{
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player.player1{
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player.player2{
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player.player3{
    transform: rotate(-135deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player.player4{
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player.player5{
    transform: rotate(-225deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player.player6{
    transform: rotate(-270deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player.player7{
    transform: rotate(-315deg);
    display: flex;
    justify-content: center;
    align-items: center;
}